<div class="container padd body-cus">
  <div class="row">
      <div class="col-12 padd3">
          <div class="progress padd2">
              <div class="progress-bar" role="progressbar" style="width: 19%" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100"></div>
              <div class="progress-bar bg-white" role="progressbar" style="width: 1%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar" role="progressbar" style="width: 19%" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100"></div>
              <div class="progress-bar bg-white" role="progressbar" style="width: 1%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar" role="progressbar" style="width: 19%" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100"></div>
              <div class="progress-bar bg-white" role="progressbar" style="width: 1%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar" role="progressbar" style="width: 19%" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100"></div>
              <div class="progress-bar bg-white" role="progressbar" style="width: 1%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
  </div>

  <div class="row cus-height">
      <div class="col-md-6 col-11 mx-auto shadow p-3 mb-5 bg-light rounded d-flex flex-column">
          <div class="row">
              <div class="col-3">
                      <img src="https://image.flaticon.com/icons/svg/109/109618.svg" alt="..." width="25px;" class="rounded-circle">
                  </div>
              <div class="col-6 mx-auto text-center">
                  <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/namecheap-logo.png" alt="..." width="65px" class="rounded-circle">
              </div>
              <div class="col-3">

              </div>
          </div>
          <div class="row">
              <div class="col-12 text-center text-padd">
                  <h4>Time to customize your interest</h4>
              </div>
          </div>
          <div class="row padd1">
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/2224/2224321.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Fashion</p>
              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/1083/1083284.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Organic</p>

              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/2230/2230201.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Meditation</p>

              </div>
          </div>
          <div class="row padd1">
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/753/753024.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Fitness</p>

              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/2151/2151619.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Smoke Free</p>

              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/1530/1530974.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Sleep</p>

              </div>
          </div>
          <div class="row padd1">
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/684/684279.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Health</p>

              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/1108/1108721.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Running</p>

              </div>
              <div class="col-4 padd1">
                  <img src="https://image.flaticon.com/icons/svg/1514/1514944.svg"
                      alt="..." width="100%" class="rounded-circle bg-white img-padd">
                  <p class="text-center">Vegan</p>

              </div>
          </div>
          <div class="row sticky-bottom mt-auto">
              <div class="col-12">
                  <button type="button" class="btn btn-primary rounded-pill btn-lg btn-block sticky-bottom">Continue</button>
              </div>
          </div>
      </div>
  </div>
</div>